<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>This is test Ejs <%= user.name %></h1>
    <div>
        <ul>
            <% user.subject.forEach((subject)=>{ %>
                <li><%= subject %></li>
            <% }); %>
            
        </ul>
    </div>
</body>
</html>